.main-header{
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
}
.head-img{
    width: 100%;
    height: 600px;
}
.navigation{
    display: flex;
    justify-content: center;
}
.nav-button{
    background-color: rgb(228, 119, 119);
    display: flex;
    justify-content: end;
    color: white;
    border: none;
    height: 30px;
}
.top-left {
    position: absolute;
    top: 150px;
    left: 25px;
    text-align: left;
    font-size: larger;
  }
.card-block {
    height: 500px;
    border: none;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
    }
   
    
    .slider div {
        height: 400px;
        width: 300px;
        margin-left: 1%;
        }
        .slider img {
        width: 300px;
        height: 400px;
        border-radius: 7%;
        }
        .centered {
            color: rgb(1, 9, 19);
         
            }
            .third-section{
                width: 100%;
                height: 300px;
                display: flex;
            }
            .third1,
            .third2,
            .third3{
                width: 33%;
                height: 300px;
                margin: auto;
                
            }
            /* .third1{
                background-color: ;
            }
            .third2{
                background-color:bisque;
            }
            .third3{
                background-color: bisque;
            } */
            .second-section{
                width: 100%;
                height: 150px;
                display: flex;
                border: 1px solid;
                margin-top: 5%;
            }
            .second1,
            .second2,
            .second3,
            .second4{
                width:20%;
                height: 150px;
                margin: auto;
                font-size: smaller;
                
                
            }
            /* .second1{
            background-color: bisque;
            }
            .second2{
                background-color: rgb(237, 137, 16);
                }
                .second3{
                    background-color: bisque;
                    }
                    .second4{
                        background-color: rgb(232, 133, 12);
                        } */
    .forth{
        width: 100%;
        height: 500px;
        background-color: blue;
        display: flex;
    }
    .about-us{
        width: 50%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        font-size: larger;
        
        
    }                    
    .testimonals{
        width: 50%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        font-size: larger;
    }
    .getintouch{
        width: 100%;
        height: 300px;
    }

    .centertextgetintouch{
        position: absolute;
    top: 150px;
    left: 425px;
    text-align: left;
    font-size: larger;
        
    }

    .container {
        border: none;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        margin: auto;
        display: inline-block;
    }
    .fifth{
        width: 100%;
        height: 300px;
        background-color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        color: white;
    }
    .ourlatest{
        position: absolute;
        text-align: left;
        font-size: larger;
    }
    .sixth{
        width: 100%;
        height: 800px;
        display: flex;
        color: #000;
        margin-top: 0%; 
        margin-bottom: 10%;
    }
    .latest{
        color: #000;
        padding-right: 70%;
        width: 100% ;
    }
     .box-img{
        width: 100%;
        height: 500px;
        border-radius: 30px;
    }
    .box-1,.box-2,.box-3{
        width: 33%;
        height: 500px;
        margin-top: 0;     
        margin: auto;
        text-align: left;
    }

    .readmore{
        border-color: #dddddd;
        color: rgb(221, 0, 0);
        width: 30%;
        height: 40px;
        border: 1px solid black;
        cursor: pointer;
        font-size: large;
        font: center;
        
    }
    footer{
        width: 100%;
        height: 700px;
        background-color: rgb(6, 2, 56);
    }
    .zindex{
        width: 50;
        height: 100px;
        background-color: rgb(255, 255, 255);

        display: flex;
        z-index: 10;
    }
    .one,  .two , .three{
        width: 30%;
        height: 150px;
        margin: auto;
        margin-bottom: 10%;
        color: #000;
        text-align: center;
        background-position: left top;
        background-repeat: repeat;   
        border-radius: 10px;
        border: 5px solid #cfcfcf;  
    }

    .imagecenter {
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    
        
      }
    .one{
        background-color: rgb(255, 255, 255);
        
    }
    .two{
        background-color: rgb(255, 255, 255);
    }
    .three{
        background-color: rgb(255, 255, 255);
    }

    .footerwork{
        align-items: center;
        justify-content: left;
        display: flex;
        padding-top: 50pxpx;

    }

    /* countries html starting */

    .exporting{
        width: 100%;
        height: 300px;
        background-color: rgb(255, 255, 255);
        font-size:large;
        text-align: center;
    }
    .countries-flag{
        width: 100%;
        height: 800px;
        background-color: rgb(203, 183, 223);;
    }
    